body {
  background-color: #06266f;
  font-family: 'Arvo', serif;
}

#gym-icon {
  margin-top: 7rem;
  margin-left: 13rem;
}

#logo-title {
  font-size: 14rem;
  margin-top: 5rem;
  color: #4671d5;
  font-family: 'Crete Round', serif;
}

#registration-forms {
  margin-top: 5rem;
  color: #4671d5;
}

#login-form, #registration-form {
  padding:5rem;
  /*border: 1px solid;
  border-color:#4671d5;*/
  text-align: center;
}

#login-form > input, button{
  width: 26rem;
  padding: 0.5rem;
  margin-bottom: 2rem;

}

#registration-form > input, button {
  width: 26rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

#login-form > button, #registration-form > button {
  background-color: #4671d5;
  border-color: #4671d5;
  margin-top:2rem;
  margin-bottom: 2rem;
  color:#06266f;
}

::-webkit-input-placeholder {
  color: #4671d5;
}

::-moz-placeholder {
  color: #4671d5;
}

:-moz-placeholder {
  color: #4671d5;
}

.masthead {
margin-top:11rem;
margin-right: 4rem;
}

    .masthead-brand {
margin-top: 10px;
margin-bottom: 10px;
}

.masthead-nav > li {
display: inline-block;

}
.masthead-nav > li + li {
margin-left: 20px;
}
.masthead-nav > li > a {
padding-right: 0;
padding-left: 0;
font-size: 16px;
color: #fff; /* IE8 proofing */
color: rgba(255,255,255,.75);
border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
background-color: transparent;
border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
color: #fff;
border-bottom-color: #fff;
}

@media (min-width: 768px) {
.masthead-brand {
  float: left;
}
.masthead-nav {
  float: right;
}
}
