<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://www.goodhempnutrition.com/img/cms/icons/gym_1.png">

    <title>GymTrack</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
		<link href='css/treino.css' rel='stylesheet' type='text/css'>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.0rc3/angular-resource.js"></script>

    <script src="js/treino/treino.js"></script>

	<body ng-app="treinos">

    	<div class="container">
            <div class="row">
              <div class="col-xs-12 col-lg-8">
                <h1 id="logo-title">GymTrack</h1>
              </div>
              <div class="col-xs-6 col-lg-4 col-sm-4">
                <div class="masthead clearfix">
                  <div class="inner">
                    <h3 class="masthead-brand"></h3>
                    <ul class="nav masthead-nav">
                      <li class="active"><a href="#">Início</a></li>
                      <li><a href="#">Perfil</a></li>
                      <li><a href="#">Treinos</a></li>
                      <li><a href="/logout">Logout</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6 col-lg-3">

              </div>

              <div class="col-xs-12 col-lg-6">
                <div class="conteudo" ng-controller="treinosController">
                  <h3>Você ainda não registrou nenhum treino</h3>
                  <button class="btn btn-default registrar-treino" data-toggle="modal" data-target="#cadastroTreino">Registrar</button>

									<div class="modal fade" id="cadastroTreino">
									  <div class="modal-dialog">
									    <div class="modal-content">
									      <div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									        <h4 class="modal-title">Treino</h4>
									      </div>
									      <div class="modal-body">
													<div class="right-inner-addon">
														<i class="icon-calendar"></i><input type="text" ng-model="data" placeholder="Date" class="form-control"/>
													</div>
													<br>
													<select class="form-control">
														<option>Leg</option>
														<option>Upper body</option>
														<option>Aerobic</option>
													</select>
													<br>
													<p>Exercises</p>
													<div ng-repeat="exercicio in exercicios">
														<div>
												    		{{exercicio.nome}}
												    		<div ng-repeat="serie in exercicio.series">{{serie.quantidade}}x{{serie.repeticoes}} - {{serie.carga}}kg</div>
												    	</div>
														</div>
														<button class="btn-add" data-toggle="modal" data-target="#exercicio"><i class="icon-plus-sign"></i> Add Exercise</button>
												</div>
									      <div class="modal-footer">
									        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
									        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="registrarTreino()">Salvar</button>
									      </div>
									    </div><!-- /.modal-content -->
									  </div><!-- /.modal-dialog -->
									</div><!-- /.modal -->

									<div class="modal fade" id="exercicio">
								  <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								        <h4 class="modal-title">Exercise</h4>
								      </div>
								      <div class="modal-body">
								        <input type="text" ng-model="exercicio" class="form-control" placeholder="Nome" /><br>
								        <div class="series-list" ng-repeat="serie in series">
								        	{{serie.quantidade}}x{{serie.repeticoes}} - {{serie.carga}}kg <i class="icon-remove"></i>
								      	</div>
								        <div class="series" ng-show="serie">
								        	<input type="text" ng-model="quantidade" class="form-control" placeholder="Quantidade" />
								        	<input type="text" ng-model="repeticoes" class="form-control" placeholder="Repeticoes" />
								        	<input type="text" ng-model="carga" class="form-control" placeholder="Carga (kg)"/>
								        	<a href=""><i class="icon-ok" ng-click="serie = !serie; salvarSerie()"></i></a><a href=""><i class="icon-remove" ng-click="serie = !serie;"></i></a>

								        </div>
								        <button class="btn-add" ng-show="!serie" ng-click="serie = !serie"><i class="icon-plus-sign"></i> Add Series</button>
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
								        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="salvarExercicio()" ng-disabled="serie">Done</button>
								      </div>
								    </div><!-- /.modal-content -->
								  </div><!-- /.modal-dialog -->
								</div><!-- /.modal -->

								</div>
              </div>

              <div class="col-xs-6 col-lg-3">

              </div>

            </div>

          </div>

          <!--<div class="mastfoot">
            <div class="inner">
              <p>© GymTrack 2014, by <a href="https://github.com/larissaleite">larissaleite</a>.</p>
            </div>
          </div>-->

	</body>
</html>
